<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
    <link rel="shortcut icon" href="/images/gatito chiquito.svg">
    <title>Mariol Design | Inicia sesión</title>
    <style>
        body {
          font-family: "Poppins", serif;
          background-color: black;
          color: white;
        }
    </style>
</head>

<body>

  <nav id="navbar" class="backdrop-blur- bg-neutral-900 h-20 fixed w-full top-0 z-30">
    
  </nav>

  <div id="backdrop-mobile" class="h-screen w-screen bg-black opacity-50 fixed hidden">
  </div>


    <div class="h-full pt-32 flex gap- items-center justify-center">

      <div class="justify-center items-center flex-col gap-8 h-full w-[40%] hidden lg:flex rounded-lg shadow-inner">
        <h1 class="text-center w-[50%] text-2xl"></h1>
        <img src="/images/astrofondo.svg" alt="">
        
      </div>
      
      <form  id="form" class="flex flex-col justify-center items-center w-[85%] lg:w-[50%] gap-8 py-12  rounded-md">
        <div class="flex flex-col gap-4 justify-center w-full">
        
          
          <h1 class="text-left px-20 text-lg font-semibold">Ingresa tus datos de inicio de sesión</h1>
  
          <div class="flex flex-col gap-4 justify-center items-center">
  
            <!-- E-Mail -->
            <div class="relative w-[80%]">
              <input autocomplete="off" type="text" id="input-email" class="bg-transparent block px-2.5 pb-2.5 pt-4 w-full text-sm rounded-lg border-2  appearance-none text-white border-zinc-500 focus:border-blue-500 focus:outline-none focus:ring-0 peer" placeholder=" " />
              <label for="input-name" class="absolute text-sm font-semibold text-zinc-100 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-black px-2 peer-focus:px-2 peer-focus:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">E-mail <span class="text-red-500 ">*</span></label>
              </div>
              
    
              <!-- Contraseña -->
              
              <div class="relative w-[80%]">
                <input autocomplete="off" type="password" id="input-password" class="bg-transparent block px-2.5 pb-2.5 pt-4 w-full text-sm rounded-lg border-2  appearance-none text-white border-zinc-500 focus:border-blue-500 focus:outline-none focus:ring-0 peer" placeholder=" "  />
              <label for="input-name" class="absolute text-sm font-semibold text-zinc-100 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-black px-2 peer-focus:px-2 peer-focus:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Contraseña <span class="text-red-500 ">*</span></label>
              </div>
          </div>
          
  
          
  
        </div>
        <div class="flex w-[75%] gap-4 md:gap-8 text-sm md:text-md">
            <button class="bg-pink-600 p-4 w-[60%] md:w-[55%] lg:w-[80%] lg:p-2 font-semibold text-center rounded-md hover:bg-pink-500 ">Iniciar sesión</button>
            <a href="/signup" class="bg-neutral-700 hover:bg-neutral-800 w-[55%] lg:w-[80%] lg:p-2 font-semibold text-center rounded-md flex items-center justify-center">Registrarse</a>
        </div>
        <a class="hover:underline" href="/reset-password">Olvidé mi contraseña</a>
  
      </form>
  
  
        
    </div>

    <footer class="h-20 bg-neutral-900 w-full absolute bottom-0 lg:text-base text-xs z-20">
      <div class="max-w-7xl h-full mx-auto flex justify-between md:gap-20  relative px-4">
        <div class="flex items-center gap-4"> 
          <span class="font-bold">Contacto</span>
        </div>

        <div class="flex items-center gap-4">

          <div class="flex gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
              <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z" clip-rule="evenodd" />
            </svg>
            <span>+58 424-1507257</span>            
          </div>

          <div class="flex gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
              <path fill-rule="evenodd" d="M11.54 22.351l.07.04.028.016a.76.76 0 00.723 0l.028-.015.071-.041a16.975 16.975 0 001.144-.742 19.58 19.58 0 002.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 00-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 002.682 2.282 16.975 16.975 0 001.145.742zM12 13.5a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd" />
            </svg>
            
            <span>Caracas, Venezuela.</span>            
          </div>
        </div>
      </div>
    </footer>
    
    <script src="/components/nav.js"></script>
    <script type="module" src="index.js"></script>
</body>

</html>